# Array Function

In [4]:
import array
from array import *

#to create an array we use:
#array_name = array('typecode,'initialisation') for eg:
arr_=array('b',[10,20,30,40,50,60])
#the type code specifies the type of array that we we have created b reperesents typecode . google search 'array fucntion in pyton'
(arr_)

array('b', [10, 20, 30, 40, 50, 60])

In [14]:
#operation on array
arr_[-2:] #to access an element of array we use array name and square brackets
arr_[5:6]
arr_[4]

50

In [15]:
#insert element 
arr_.insert(2,100) # to insert an element in array we pass the index and the element
arr_

array('b', [10, 20, 100, 30, 40, 50, 60])

In [16]:
arr_.index(50) # in order to search for an element inside the array we use index mentod

5

In [18]:
arr_[5]=120 #update anny existing element we pass the indec
arr_

array('b', [10, 20, 100, 30, 40, 120, 60])

In [19]:
arr_.append(125) #append() insers the element trowards the last of array
arr_

array('b', [10, 20, 100, 30, 40, 120, 60, 125])

In [20]:
arr_.count(100) #retun the count numner of times the element appears

1

In [38]:
#concatenation and extendin array
# create another array
Arr_ = array('b',[70,80,90])
concat_= arr_ + Arr_
print (arr_)
print (Arr_)
concat_ # it includes elements of both the array and stores in concat_ but didnt change the original array

array('b', [10, 20, 30, 40, 50, 60])
array('b', [70, 80, 90])

array('b', [10, 20, 30, 40, 50, 60, 70, 80, 90])

In [41]:
#Exend 
#with ented commanf it changes 
Arr_.extend(arr_)
print (arr_)
print (Arr_)

array('b', [10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60])
array('b', [70, 80, 90, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60])

In [43]:
arr_.pop(2) #pop:removes the elenent whoese index is passed as parameter, if no indes in passed 
pop () # will reomvoe the last element if no index specified

30

In [44]:
arr_.remove(10) # removes the element whose value if passed as parement 
arr_

array('b', [20, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50])

In [46]:
del(Arr_) # delete the array
Arr_ #array wont be found and give error

NameError: name 'Arr_' is not defined

# LIST

In [51]:
#list can have multiple data type
lis_1 =['abc', 'xyz','pqr',1,2,3,4,5]
lis_2=[30,12,70,50]
type(lis_1)

list

In [53]:
lis_1.append(10) #append adds the elemt at the last 
lis_1

['abc', 'xyz', 'pqr', 1, 2, 3, 4, 5, 10, 10]

In [58]:
lis_1.count(2) #returns the nument of apprearnce of the given elemt
lis_1.extend(lis_2) #adds elements of second list int he first
lis_1.insert(5,50) #insert the elemetn 50 at index 5
lis_1.pop(2) # pops out the ekement at index 2
lis_1.remove(3) #remove emelent 3
lis_2.sort(reverse = True) #sort the list in increasing order
print (lis_2)
print (len(lis_2)) #len()function returns the length of list that is paased

ValueError: list.remove(x): x not in list

In [ ]:
lis_1.clear() #clears al the element of the list
del(lis_1) #delemte the whole list (no instance in the memory)

In [60]:
lis_2.sort(reverse = True)
print (lis_2)

[70, 50, 30, 12]

# TUPLES

In [1]:
#tuples are imutable and not change
tup_1 =(1,2,3,4,'abc','pqr')
tup_2 = (60,70,80)
type(tup_1)

tuple

In [2]:
concat_=tup_1+tup_2
print (concat_)

(1, 2, 3, 4, 'abc', 'pqr', 60, 70, 80)

In [3]:
#operations on tuple
tup_1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
tup_1.count(2)

1

In [65]:
tup_1.extend(tup_2)

AttributeError: 'tuple' object has no attribute 'extend'

In [66]:
tup_1.pop(2)

AttributeError: 'tuple' object has no attribute 'pop'

In [67]:
tup_1.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [70]:
tup_2.sort (reverse= True)

AttributeError: 'tuple' object has no attribute 'sort'

In [71]:
print (len(tup_2))

3

# DICTIONARY

In [72]:
#dictionary store the values in keys
dict_ = {'john':12345,'micheal':67890,'Abrahm':45678,'David':89234,'Smith':23789}
print(dict_['john']) #accessing a value in dictionary we need to call by key

12345

In [73]:
dict_

{'john': 12345,
 'micheal': 67890,
 'Abrahm': 45678,
 'David': 89234,
 'Smith': 23789}

In [74]:
print(dict_)

{'john': 12345, 'micheal': 67890, 'Abrahm': 45678, 'David': 89234, 'Smith': 23789}

In [75]:
type(dict_)

dict

In [76]:
dict_['Abrahm']

45678

In [77]:
dict_['Abrahm'] = 12345678 #to chnage the value in dictornary
dict_

{'john': 12345,
 'micheal': 67890,
 'Abrahm': 12345678,
 'David': 89234,
 'Smith': 23789}

In [78]:
dict_.keys() #to get all keys

dict_keys(['john', 'micheal', 'Abrahm', 'David', 'Smith'])

In [79]:
dict_.values() #to get all values

dict_values([12345, 67890, 12345678, 89234, 23789])

In [81]:
dict_['Warner'] = '00000' # to add new value to dictionary we peocfy the new key and value
dict_

{'john': 12345,
 'micheal': 67890,
 'Abrahm': 12345678,
 'David': 89234,
 'Smith': 23789,
 'Warner': '00000'}

In [83]:
dict_.pop('john') #pops out the vlaue of the key that has been passed

12345

In [84]:
dict_.clear()

In [86]:
print (dict_)

{}

# Convert LIST to TUple and viza versa

In [91]:
x=(1,2,3,4) #tuple
#x is tuple in order to covert to list we use:
y= list(x)
y

[1, 2, 3, 4]

In [89]:
z=tuple(y) #covnert 
z

(1, 2, 3, 4)